body{
	padding:0px;
	margin:0px;
}

a{
	text-decoration: none;
	color:#000000;
}

div{
	margin: 0px;
	padding: 0px;
}

/*按钮*/
.btn{
	outline:none;
	padding: 6px 12px;
	border:1px solid transparent;
	display: inline-block;
	border-radius: 4px;
	background-color: #FFFFFF;
	line-height: 30px;
	font-size:13px;
	text-align:center;
	white-space:nowrap;
	vertical-align:middle;
	cursor:pointer;
	user-select:none;
}