<html>
<head>
<meta charset="UTF-8">
<title>Web sockets test</title>
<script src="//cdn.bootcss.com/jquery/3.2.0/jquery.min.js"
	type="text/javascript"></script>
<script type="text/javascript">
        var ws;
        ToggleConnectionClicked();
        
        function ToggleConnectionClicked() {          
			ws = new WebSocket("ws://192.168.2.73:2000");//连接服务器        
			ws.onopen = function(event){alert("已经与服务器建立了连接\r\n当前连接状态："+this.readyState);};
			ws.onmessage = function(event){
				alert("接收到服务器发送的数据：\r\n"+event.data);
			};
			ws.onclose = function(event){
				
			};
			ws.onerror = function(event){
			};    
        };
 
        function SendData(action) {
			var content = document.getElementById("content").value;
			if(content){
				content = JSON.stringify({
					c:'test',
					a:action,
					message:content,
				});
			    ws.send(content);
			}
        };
    </script>
</head>
<body>
	<textarea id="content"></textarea>
	<button id='ToggleConnection' type="button"
		onclick='SendData("message");'>发送</button>
	<br />
	<br />
	<button id='ToggleConnection' type="button"
		onclick='SendData("logout");'>退出</button>
	<br />
	<br />
	<div id="content"></div>
</body>
</html>