<html>
<head>
<meta charset="UTF-8">
<link href="/framework/framework/assets/css/main.css" rel="stylesheet" type="text/css" /> 
</head>
<body>
	<a href="" class="btn">a按钮</a>
	<a href="" class="btn btn-xs">a小按钮</a>
	<a href="" class="btn btn-sm">a小小按钮</a>
	
	
	<div class="btn">div按钮</div>
	<div class="btn btn-xs">div小按钮</div>
	<div class="btn btn-sm">div小小按钮</div>
	
	
	<span class="btn">span按钮</span>
	<span class="btn btn-xs">span小按钮</span>
	<span class="btn btn-sm">span小小按钮</span>
	
	
	<button class="btn">button按钮</button>
	<button class="btn btn-xs">button小按钮</button>
	<button class="btn btn-sm">button小小按钮</button>
</body>
</html>